<!--Begin NavBar-->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="./images/headphonelogo.jpg" alt="AirboundEnt" weight="120px" height="120px" />
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav pull-right">
				<li id="nav-link-stroke"><a href="./index.html"><h2><strong>Front and Center</strong></h2></a></li>
				<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:transparent; font-size:32px; margin-top:25px;">Artists <span></span>
			          <ul class="dropdown-menu" style="width: auto; margin-left:-700px;">
			            <li>
			                <div class="row" style="height: 50px; font-family: courier new; font-size:16px;">
			                   
			                    <ul class="list-unstyled col-md-3" style="text-align:center;">
			                        <li><a href="./cyrilDurant.html" style="color: #FACC2E;">Cyril Durant</a></li>
			                        <li><a href="./danielNavarro.html" style="color: #FACC2E;">Daniel Navarro </a></li>
			                        <li><a href="./jaredWade.html" style="color: #FACC2E;">Jared Wade</a></li>
			                        <li><a href="./kinkyAphprodisiacs.html" style="color: #FACC2E;">Kinky Aphprodisiacs</a></li>
			                        <li><a href="./mooseKick.html" style="color: #FACC2E;">Moose Kick</a></li>
			                    </ul>


			                     <ul class="list-unstyled col-md-3" style="text-align:center;">
			                        <li><a href="./benLewis.html" style="color: #FACC2E;">Ben Lewis</a></li>
			                        <li><a href="./brianFuller.html" style="color: #FACC2E;">Brian Fuller</a></li>
			                        <li><a href="./byog.html" style="color: #FACC2E;">BYOG</a></li>
			                        <li><a href="./arc.html" style="color: #FACC2E;">ARC</a></li>
			                        <li><a href="./codyJamesAndBenjiTaylor.html" style="color: #FACC2E;">Cody James & Ben Taylor</a></li>
			                    </ul>


			                    <ul class="list-unstyled col-md-3" style="text-align:center;">
			                        <li><a href="./nateKenyon.html" style="color: #FACC2E;">Nate Kenyon</a></li>
			                        <li><a href="./nickleBagOfFunk.html" style="color: #FACC2E;">Nickle Bag of Funk</a></li>
			                        <li><a href="./orangeConstant.html" style="color: #FACC2E;">The Orange Constant</a></li>
			                        <li><a href="./piano.html" style="color: #FACC2E;">The Piano Band</a></li>
			                        <li><a href="./poorMansFancy.html" style="color: #FACC2E;">Poor Mans Fancy</a></li>
			                    </ul>


			                    <ul class="list-unstyled col-md-3" style="text-align:center;">
			                        <li><a href="./steppinStones.html" style="color: #FACC2E;">Steppin Stones</a></li>
			                        <li><a href="./thoseCats.html" style="color: #FACC2E;">Those Cats</a></li>
			                        <li><a href="./treaLandon.html" style="color: #FACC2E;">Trea Landon</a></li>
			                        <li><a href="./univerisalSigh.html" style="color: #FACC2E;">Universal Sigh</a></li>
			                        <li><a href="#"></a></li>
			                    </ul>
			                    
			                </div>
			            </li>
			        </ul>
			      </a>
        		</li>
        	
				<li id="nav-link-stroke"><a href="./BOOKING.html"><h2><strong>Booking</strong></h2></a></li>
				<li id="nav-link-stroke"><a href="./US.html"><h2><strong>Us</strong></h2></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--End NavBar-->
