<!--Begin NavBar-->
	<nav class="navbar navbar-default">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">
					<img src="{{ site.url }}/images/AirboundLOGO_Gray.bmp" alt="AirboundEnt" height="120px" />
				</a>
			</div>
			<div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
				<ul class="nav navbar-nav pull-right">
				<li id="nav-link-stroke"><a href="{{ site.url }}/index.html"><h2><strong>Front and Center</strong></h2></a></li>
				<li class="dropdown">
			          <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false" style="background-color:transparent; font-size:32px; margin-top:25px;">Artists 
			          <ul class="dropdown-menu" style="width: auto; margin-left:-600px; font-size:16px;">
			            <li>
			                
								<ul class="list-unstyled col-md-3" style="text-align:center;">
									<li><a></a></li>
			                        <!-- <li><a href="{{ site.url }}/benLewis.html" style="color: #FACC2E;">Ben Lewis</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li> -->
			                        <li><a href="{{ site.url }}/brianFuller.html" style="color: #FACC2E;">Brian Fuller</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <li><a href="{{ site.url }}/byog.html" style="color: #FACC2E;">BYOG</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <li><a href="{{ site.url }}/CarryOn.html" style="color: #FACC2E;">Carry On</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <!-- <li><a href="{{ site.url }}/cotyJamesAndBenjiTaylor.html" style="color: #FACC2E;">Coty James & Benji Taylor</a></li> -->
			                        <li><a href="{{ site.url }}/ChandlerFritts.html" style="color: #FACC2E;">Chandler Fritts</a></li>
			                    </ul>

			                    <ul class="list-unstyled col-md-3" style="text-align:center;">
			                    	
			                    	 
			                       <!--  <li role="separator" class="divider" style="s"></li> -->
			                        <li><a href="{{ site.url }}/cyrilDurant.html" style="color: #FACC2E;">Cyril Durant</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <li><a href="{{ site.url }}/Fraug.html" style="color: #FACC2E;">Fraug</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <li><a href="{{ site.url }}/piano.html" style="color: #FACC2E;">Piano.</a></li>
			                        <!-- <li><a href="{{ site.url }}/kinkyAphprodisiacs.html" style="color: #FACC2E;">Kinky Aphprodisiacs</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li> -->
			                        
			                       
			                    </ul>

			                    <ul class="list-unstyled col-md-3" style="text-align:center;">
			                    	
			                    	<!-- <li role="separator" class="divider" style="color: #FACC2E;"></li> -->
			                    	 <li><a href="{{ site.url }}/SeminoleStrut.html" style="color: #FACC2E;">Semino Strut</a></li>
			                    	 <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <!-- <li><a href="{{ site.url }}/nateKenyon.html" style="color: #FACC2E;">Nate Kenyon</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li> -->
			                        <li><a href="{{ site.url }}/TheNightShift.html" style="color: #FACC2E;">The Night Shift</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <li><a href="{{ site.url }}/orangeConstant.html" style="color: #FACC2E;">The Orange Constant</a></li>
			                        
			                        
			                    </ul>


			                    <ul class="list-unstyled col-md-3" style="text-align:center;">
			                    	
			                    	<!-- <li><a href="{{ site.url }}/poorMansFancy.html" style="color: #FACC2E;">Poor Mans Fancy</a></li>
			                    	<li role="separator" class="divider" style="color: #FACC2E;"></li> -->
			                        <li><a href="{{ site.url }}/steppinStones.html" style="color: #FACC2E;">Steppin Stones</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <li><a href="{{ site.url }}/thoseCats.html" style="color: #FACC2E;">Those Cats</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li>
			                        <!-- <li><a href="{{ site.url }}/treaLandon.html" style="color: #FACC2E;">Trea Landon</a></li>
			                        <li role="separator" class="divider" style="color: #FACC2E;"></li> -->
			                        <li><a href="{{ site.url }}/univerisalSigh.html" style="color: #FACC2E;">Universal Sigh</a></li>
			                        
			                        
			                    </ul>     
			            </li>
			        </ul>
			      </a>
        		</li>
        	
				<li id="nav-link-stroke"><a href="{{ site.url }}/Booking.html"><h2><strong>Booking</strong></h2></a></li>
				<li id="nav-link-stroke"><a href="{{ site.url }}/Us.html"><h2><strong>Us</strong></h2></a></li>
				</ul>
			</div>
		</div>
	</nav>
	<!--End NavBar-->
