<div>
  
  <div class="autoplay" style="height:400px; width:95%; margin-left:2.5%;">
    {% for post in site.posts limit:3 %}
	       
          {% if post.image %}
          <div class="image" style="height:400px;">
	           <a href="{{ BASE_PATH }}{{ post.url }}"><img src="{{ post.image }}" /></a>
              <a href="{{ BASE_PATH }}{{ post.url }}"><h3><span>{{ post.title }}</span></h3></a>
          </div>
          {% else %}
            
          {% endif %}
          
    {% endfor %}
  </div>

  <script type="text/javascript" src="http://code.jquery.com/jquery-1.11.0.min.js" height="500px"></script>
  <script type="text/javascript" src="http://code.jquery.com/jquery-migrate-1.2.1.min.js" height="500px"></script>
  <script type="text/javascript" src="./slick/slick.min.js" height="500px"></script>

  <script type="text/javascript">
    $(document).ready(function(){
      	$('.autoplay').slick({
  slidesToShow: 1,
  slidesToScroll: 1,
  autoplay: false,
  autoplaySpeed: 2000,
});
    });
  </script>
</div>