<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->
    {% include navbar.html %}
    


    <div class="col-md-8">
    <div class="row">


      <div class="image fixed" style="height:600px;">
             <img src="{{ page.image }}" />
              <a href=""></a>
          </div>
    </div>
    </div>

    <div class="col-md-4">
  
  <!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!-- Inline CSS based on choices in "Settings" tab -->
<style>.bootstrap-iso .formden_header h2, .bootstrap-iso .formden_header p, .bootstrap-iso form{font-family: Arial, Helvetica, sans-serif; color: #facc2e; background-color: #000000 !important}.bootstrap-iso form button, .bootstrap-iso form button:hover{color: #ffffff !important;}.bootstrap-iso .form-control:focus { border-color: #facc2e; outline: 0; -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(250, 204, 46, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(250, 204, 46, 0.6);} .asteriskField{color: red;}.bootstrap-iso form .input-group-addon {color:#555555 !important; background-color: #000000 !important; border-radius: 4px; padding-left:0px}</style>

<!-- HTML Form (wrapped in a .bootstrap-iso div) -->
<div class="bootstrap-iso" style="background-color: #000000;">
 <div class="container-fluid">
  <div class="row">
   <div class="col-md-6 col-sm-6 col-xs-12" style="width: 100%;">
    <form action="//formspree.io/zostendorf@hotmail.com" method="post">
     <div class="form-group ">
      <label class="control-label " for="band">
       Which Band?
      </label>
      <select class="select form-control" id="band" name="band">
        <option value="General Inquiry">
        General Inquiry
       </option>
       <option value="Ben Lewis">
        Ben Lewis
       </option>
       <option value="Brian Fuller">
        Brian Fuller
       </option>
       <option value="BYOG">
        BYOG
       </option>
       <option value="Atlas Road Crew">
        Atlas Road Crew
       </option>
       <option value="Coty James &amp; Benji Taylor">
        Coty James &amp; Benji Taylor
       </option>
       <option value="Cyril Durant">
        Cyril Durant
       </option>
       <option value="Daniel Navarro">
        Daniel Navarro
       </option>
       <option value="Jared Wade">
        Jared Wade
       </option>
       <option value="Kinky Aphrodisiacs">
        Kinky Aphrodisiacs
       </option>
       <option value="Piano.">
        Piano.
       </option>
       <option value="Moose Kick">
        Moose Kick
       </option>
       <option value="Nate Kenyon">
        Nate Kenyon
       </option>
       <option value="Nickel Bag of Funk">
        Nickel Bag of Funk
       </option>
       <option value="The Orange Constant">
        The Orange Constant
       </option>
       <option value="Poor Man's Fancy">
        Poor Man's Fancy
       </option>
       <option value="Steppin Stones">
        Steppin Stones
       </option>
       <option value="Those Cats">
        Those Cats
       </option>
       <option value="Trea Landon">
        Trea Landon
       </option>
       <option value="Universal Sigh">
        Universal Sigh
       </option>
      </select>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="location">
       Where?
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="location" name="location" type="text"/>
      <span class="help-block" id="hint_location">
       Venue, Theater, Bar, Event, etc.
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="textarea">
       Address
       <span class="asteriskField">
        *
       </span>
      </label>
      <textarea class="form-control" cols="40" id="textarea" name="textarea" placeholder="Street Number City, State Zip" rows="10"></textarea>
     </div>
     <div class="form-group ">
      <label class="control-label " for="date">
       When?
      </label>
      <input class="form-control" id="date" name="date" placeholder="MM/DD/YYYY" type="text"/>
      
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="requester">
       Who are you?
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="requester" name="requester" type="text"/>
      <span class="help-block" id="hint_requester">
       first &amp; last
      </span>
     </div>
     <div class="form-group ">
      <label class="control-label requiredField" for="requesterEmail">
       What's Your E-mail?
       <span class="asteriskField">
        *
       </span>
      </label>
      <input class="form-control" id="requesterEmail" name="requesterEmail" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="tel">
       What's Your Number?
      </label>
      <input class="form-control" id="tel" name="tel" placeholder="888-888-8888" type="text"/>
     </div>
     <div class="form-group ">
      <label class="control-label " for="additional comments">
       Something we should know?
      </label>
      <textarea class="form-control" cols="40" id="additional comments" name="additional comments" rows="10"></textarea>
      <span class="help-block" id="hint_additional comments">
       tell us...
      </span>
     </div>
     <div class="form-group">
      <div>
       <input name="_honey" style="display:none" type="text"/>
       <button class="btn btn-warning btn-lg" name="submit" type="submit">
        Submit
       </button>
      </div>
     </div>
    </form>
   </div>
  </div>
 </div>
</div>


    </div>


  

  </body>

</html>
