<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->
    {% include navbar.html %}
    

    <div class="row">
    	<div class="image" style="height:600px;">
	           <img src="{{ page.image }}" />
              <a href=""></a>
          </div>
    </div>
  
  <!-- Button trigger modal -->
<button type="button" class="btn btn-primary btn-lg" data-toggle="modal" data-target="#myModal">
  Launch demo modal
</button>

<!-- Modal -->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" >
  <div class="modal-dialog" role="document" >
    <div class="modal-content" style="background-color:#5e5e5e;">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">&times;</span></button>
        <h4 class="modal-title" id="myModalLabel" style="background-color:#5e5e5e;">Booking Request</h4>
      </div>
      <div class="modal-body" style="background-color:#5e5e5e;">
        Let's get started...</br>
        </br>
        Band Being Requested:</br>
        City:</br>
        Venue:</br>
        Date:</br>
        Your Name:</br>
        Your Email:</br>
        Venue Contact:</br>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
        <button type="button" class="btn btn-primary">Submit</button>
      </div>
    </div>
  </div>
</div>

  </body>

</html>
