<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->
    {% include navbar.html %}

   
      <div class="col-md-8">

          {% include slick.html %}

          <div role="separator" class="divider" style="color: #FACC2E;"></div>

          {% include postList.html %}

      <!-- InstaWidget -->
      <iframe src="http://widget.websta.me/in/airboundent/?r=1&w=5&h=6&b=0&p=5" allowtransparency="true" frameborder="0" scrolling="no" style="border:none;overflow:hidden;width:525px; height: 630px" ></iframe> <!-- websta - websta.me -->

          
      </div>

      <div class="col-md-4">


      <input type="submit" class="btn btn-block btn-warning" style="margin-bottom:15px;" value="Book a Band Now!" onclick="window.location.href='mailto:william@AirboundEnt.com'">


          {% include twitwidg.html%}
      </div>
    
    
  </body>

</html>
