<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->
    {% include navbar.html %}

   
      <div class="col-md-8">

          {% include slick.html %}

          {% include postList.html %}
          
      </div>

      <div class="col-md-4">

      <a href="mailto: william@AirboundEnt.com" class="btn btn-block btn-warning" style="padding: 5px 10px;"><span class="glyphicon glyphicon-headphones"></span> Book A Band Now!</a>


          {% include twitwidg.html%}
      </div>
    
    
  </body>

</html>
