<!DOCTYPE html>
<html>

  {% include head.html %}

  <body>

    <!-- {% include header.html %} -->
    {% include navbar.html %}

   
      <div class="col-md-8">

          {% include slick.html %}

          {% include postList.html %}
          
      </div>

      <div class="col-md-4">

          <a href="#" class="btn btn-warning btn-large" style="margin: 0 auto; width: 180px;"><i class="icon-white icon-headphones"></i> BOOK A BAND NOW!</a>


          {% include twitwidg.html%}
      </div>
    
    
  </body>

</html>
